
@{
    ViewBag.Title = "Index";
}

<h3>@ViewBag.Email </h3>
<h3>@ViewBag.Name </h3>
<h3>@ViewBag.Id </h3>
<h3>@ViewBag.Gn </h3>
@if (Model != null)
{
    <h5>@Model.Email</h5>
    <h5>@Model.Name</h5>
    <h5>@Model.Id</h5>
    <h5>@Model.Gender</h5>
}
@{ 
        bool CheckGender(string gn) {
            if (Model.Gender != null && Model.Gender.Equals(gn))
            {
                return true;

            }
            return false;
        }
        bool CheckProfession(string prf) {
            if (Model.Profession != null && Model.Profession.Equals(prf))
            {
                return true;
            }
            return false;
        }
        bool CheckHobbies(string hobby) {
            if (Model.Hobbies != null)
            {
                foreach (var h in Model.Hobbies)
                {
                    if (h.Equals(hobby)) return true;
                }
            }
            return false;
        }
    }

    @Html.ValidationSummary()

<h2>Index</h2>
<form method="post">
    <input type="text" class="form-control" value="@Model.Name" name="Name" placeholder="Name" />
    <input type="text" class="form-control" value="@Model.Id" name="Id" placeholder="XX-XXXXX-X" />
    <input type="text" class="form-control" value="@Model.Email" name="Email" placeholder="XX-XXXXX-X@student.aiub.edu" />
    <input type="date" class="form-control" value="@Model.Dob.ToString("yyyy-MM-dd")" name="Dob" />
     Gender: <br />
    <input type="radio" name="Gender" checked="@CheckGender("Male")" value="Male" /> Male <br/>
    <input type="radio" name="Gender" checked="@CheckGender("Female")" value="Female" /> Female <br />
    <select name="Profession" class="form-control" >
        <option selected disabled>---Select Profession---</option>
        <option selected="@CheckProfession("Business")">Business</option>
        <option selected="@CheckProfession("Student")">Student</option>
        <option selected="@CheckProfession("Job")">Job</option>
    </select>
    Hobbies:
    <input type="checkbox" checked="@CheckHobbies("Travelling")" name="Hobbies[]" value="Travelling" /> Travelling
    <input type="checkbox" checked="@CheckHobbies("Music")" name="Hobbies[]" value="Music" /> Music
    <input type="checkbox" checked="@CheckHobbies("Sports")" name="Hobbies[]" value="Sports" /> Sports
    <input type="checkbox" checked="@CheckHobbies("Games")" name="Hobbies[]" value="Games" /> Games <br />
    <input type="submit" value="Add" class="btn btn-success" />
</form>


